
<div class="free">
    <p><strong>Free Shipping</strong></p>
    <p>Get 2-day free shipping anywhere in North America.</p>
</div>
<div class="years free">
    <p><strong>2 years warranty</strong></p>
    <p>If anything goes wrong in the first two years, we'll replace it for free.</p>
</div>
<div class="price">
    <div class="left">
        <div class="price-product">
            <P>$295.95</P>
        </div>
        <div class="description">
            <p>Need financing? Learn more</p>
        </div>
    </div>
    <div class="right">
        <button>
            Buy now
        </button>
    </div>
</div>