.slide {
    .image {
        width: 100%;
        max-width: 592px;
        height: 336px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #EEEFF2;
        border-radius: 8px;
        margin: 16px auto 16px 0;
    }
}

.caract {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
        width: 33.3%;
        margin: 0 auto;
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 0 16px;
    }

    img {
        
        max-height: 26px;
        width: auto;
    }
}
