
<div class="slide">
    <mat-tab-group>
        <mat-tab class="tap" label="photo1" style="background:url('/assets/images/product')">
            <div class="image">
                <img src="assets/images/product.png" alt="logo" />
            </div>
        </mat-tab>
        <mat-tab label="photo2" style="background:url('/assets/images/product2')">
            <div class="image">
                <img src="assets/images/product2.png" alt="logo" />
            </div>
        </mat-tab>
        <mat-tab label="photo3" style="background:url('/assets/images/product3')">
            <div class="image">
                <img src="assets/images/product3.png" alt="logo" />
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ul class="caract">
    <li>
        <div class="logo">
            <img src="assets/images/path.png" alt="logo" />
        </div>
        <label>Customizable Touch Controls </label>
    </li>
    <li>
        <div class="logo">
            <img src="assets/images/shape.png" alt="logo" />
        </div>
        <label>Built-in Equalizer </label>
    </li>
    <li>
        <div class="logo">
            <img src="assets/images/combined.png" alt="logo" />
        </div>
        <label>Active Noise Cancellation </label>
    </li>
</ul>