header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 3;
}

.section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1272px;
    padding: 48px 16px 200px;
    width: calc(100% - 32px);
    margin: 0 auto;

    .left,
    .right {
        width: 50%;
    }

    .left {
        padding: 0 16px 0 0;
    }

    .right{
        padding: 0 0 0 16px;
    }
}

footer {
    background: #F5F5F7;
    border: 1px outset #D2D2D7;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

app-footer {
    display: flex;
    max-width: 1272px;
    padding: 48px 16px;
    width: calc(100% - 32px);
    margin: 0 auto;
    position: sticky;
    bottom: 0;
    z-index: 3;
}

@media (max-width: 768px) {
    .section {
        .left,
        .right {
            width: 100%;
        }

        .left {
            padding: 0;
        }

        .right {
            margin: 73px 0 0;
            padding: 0;
        }
    }
}
