

<h3> NEW RELASE</h3>
<h1> MOMENTUM True Wireless 2</h1>
<h2> Earbuds that put sound first</h2>

<div class="price">
    <label>STARTING AT</label>
    <div class="price-product">
        <P>$295.95</P>
    </div>
    <mat-tab-group>
        <mat-tab label="Overview" class="tap1">
          <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.</p>
        </mat-tab>
        <mat-tab label="Features" class="tap2">
          <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.</p>
        </mat-tab>
        <mat-tab label="What's in the box?" class="tap3">
          <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.</p>
        </mat-tab>
    </mat-tab-group>   

    <div class="row">
      <label class="choose">
        Choose your finish.
      </label>
      <ul class="tagets">
        <li class="target">
          <label>Ivory White</label>
          <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True. </p>
        </li>
        <li class="target">
          <label>Matte Black</label>
          <p>Of all of the celestial bodies that capture our attention and fascination as astronomers.</p>
        </li>
      </ul>
    </div>
    
    <div class="row">
      <label class="choose extend">
        Choose your finish.
      </label>
      <ul class="cards">
        <li class="card">
          <label>Voice Assistant support</label> 
          <p>For the past 75 years, Sennheiser has put sound first.</p>
        </li>
        <li class="card">
          <label>Voice Assistant support</label> 
          <p>For the past 75 years, Sennheiser has put sound first.</p>
          <div class="price"> + $75</div>
        </li>
      </ul>
    </div>
   
    <div class="row">
      <label class="choose features">
        Features.
      </label>
      <ul class="cards">
        <li class="card">
          <label>Voice Assistant support</label>
        </li>
        <li class="card">
          <label>Customizable controls</label>
          <div class="price">+ $25</div>
        </li>
      </ul>
    </div>
   
    <div class="ext">
      <h3>Specifications.</h3>
      <ul class="extra-info">
        <li>
          <label>Dimensions</label>
          <p>76.8 x 43.8 x 34.7 mm (earbuds and charging case)</p>
        </li>
        <li>
          <label>USB Standard</label>
          <p>USB-C</p>
        </li>
        <li>
          <label>Power supply</label>
          <p>Sennheiser 7mm dynamic driver</p>
        </li>
        <li>
          <label>Frequency response (Microphone)</label>
          <p>100 Hz to 10 kHz</p>
        </li>
        <li>
          <label>Frequency response</label>
          <p>5 - 21,000 Hz</p>
        </li>
        <li>
          <label>Noise cancellation</label>
          <p>Single-Mic ANC per earbud side</p>
        </li>
      </ul>
    </div>
</div>

